/* Generic */

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #008B8B;
}

h1 {
  color: #1A6868;
  text-align: center;
}

h2 {
  color: #1A6868;
  margin: 5px 0;
  padding: 0;
}

td {
  font-size: 20px;
  padding: 5px 3px;
}

a {
  text-decoration: none;
  color: #1A6868;
}

select {
  border: none;
  padding: 4px;
  font-size: 18px;
  background: white;
  border: 2px solid #1A6868;
}

/* Results list */

#results-table {
  border-collapse: collapse;
  width: 100%;
}

.text-cell {
  width: 100%;
  background: #E9FAFA;
  word-break: break-all;
}

/* Center content */

.outer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  position: absolute;
}

.middle {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.container {
  background: #FFF;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.contact-info {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

/* Button styles */

.btn {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  background: #1A6868;
  color: #FFF;
  padding: 10px;
}

.btn-save {
  text-decoration: none;
}

/* Input box and button */

#submit-form {
  display: table;
  margin: 0 auto 10px;
}

#input {
  width: 250px;
  padding: 5px;
  margin: 5px 0;
  font-size: 18px;
  border: 2px solid #1A6868;
}

#submit {
  padding: 6px;
  border: none;
  font-size: 18px;
}

/* Hide header before any results */

#list-header {
  display: none;
}
