body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #8BC;
}

.outer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  position: absolute;
}

.middle {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.container {
  background: #FFF;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.btn-play {
  font-family: sans-serif;
  border: none;
  font-size: 18px;
  padding: 5px;
  background: #318CE7;
  color: #FFF;
}

.btn-download {
  background: #318CE7;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  color: #FFF;
}

#submit-form {
  display: table;
  margin: 0 auto;
}

#input {
  width: 200px;
  padding: 2px;
}
